.btn {
    width: 226px;
    height: 46px;
    background: #00519C;
    border-radius: 23px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    margin: 0 auto;
    display: block;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;

}