.main__box {
    margin: 0 auto;
    padding-bottom: 256px;
}

.main__image {
    display: block;
    margin: 0 auto;
}

.main__title {
    font-size: 28px;
    line-height: 27px;
    text-align: center;
    color: #00519C;
    padding-top: 11px;

}

.main__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #00519C;
    padding-top: 10px;
}