.markets {
    padding: 75px 0 110px 0;
}

.markets__inner {
    display: flex;
}

.markets__title {
    text-align: center;
    padding-bottom: 29px;
    color: #00519C;
}

.markets__info {
    @include font-text(14px, 24px, normal);
    margin-left: 37px;
    color: #000000;
}

.markets__img img {
    width: 518px;
    height: 371px;
}