.navigation__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 140px;
    padding-right: 73px;
    padding-bottom: 120px;

}

.navigation__item {}

.navigation__link {
    @include font-text(14px, 17px, 600);
    text-decoration: none;
    text-align: center;
    color: #00519C;
}

.navigation__link:hover {
    text-decoration: underline;
}


@media(min-width: $desktop-width) {}